body{
  background-color: #eee;
}
.App{
  background-color: aqua;
  min-height:500px;
  width:400px;
  margin:40px auto;
}
p{
  text-align:center;

  padding-top:20px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
  
}

#to-do input{
  
  border:0;
  width:200px;
  height:50px;
  padding:0 20px;
  margin:20px;
  font-size:18px;
  border-radius:10px;
  color:black;
}
#to-do input:focus,#to-do-form button:focus{
  outline:none;
}

#to-do button{
  height:50px;
  width:80px;
  border-radius:5px;
  border:0;
  background-color:grey;
  cursor: pointer;
 font-weight:bolder;
 color:black;
}