.list{
    color:black;
    width:300px;
    background-color:greenyellow;
    height:50px;
    margin:20px auto;
    border-radius:5px;
}
.list p{
    padding: 10px;
    position:relative;
}
 #btn1{
    position:absolute;
    right:10px;
    cursor:pointer

}
#bt1,#bt2{
    border:none;
    border-radius: 2px;
    height:25px;
    background-color: darkgray;
}

 #btn2{
    position:absolute;
    right:55px;
    cursor:pointer;

}
.list p input{
    background-color: transparent;
    border:0;
    color:crimson;
    font-size:18px;
}
.list p input:focus{
    outline:none;
}

/* #btn1 , #btn2 {
      display: inline-block;
      margin: 0;
      padding: 10;
      
} */